<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | PEXL</title>
</head>

<body>
    <h1>Welcome to the home page</h1>
    <h2>Movie list:</h2>
    <ul>
        <% movieFilesSet.forEach(mfs=> { %>
            <li>
                <a href="/?selected=<%= mfs.fileName %>">
                    <%= mfs.fileName %> (<%= mfs.directory %>)
                </a>
            </li>
            <% }) %>
    </ul>
    <h2>Top Movie:</h2>
    <% if (locals.selectedMovie) { %>
        <video id="mainPlayer" controls width="100%">
            <source src="<%= selectedMovie.directory %>" type="video/mp4">
        </video>
    <% } %>
</body>

</html>