<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PEXL | Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1 id="main-header">Welcome to PEXL</h1>
    <h2>Movies:</h2>
    <% movieFilesSet.forEach(mfs=> { %>
        <a href="/?selected=<%= mfs.fileName %>">
            <%= mfs.fileName %>
        </a>
        <% }) %>
        
        <% if (locals.selectedMovie) { %>
            <video id="mainPlayer" controls width="100%">
                <source src="<%= selectedMovie.directory %>" type="video/mp4">
            </video>
            <% } %>
    <form action="/reload" method="post">
        <button id="refresh-movie-list">↻ Refresh</button>
    </form>
</body>

</html>