<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PEXL | 404</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 6rem;
        }
        h1 {
            font-size: 2.2rem;
        }
        a {
            font-size: 2rem;
        }
    </style>
</head>
<body>
    <h1>Error 404 👻</h1>
    <h3><%= url %> does not exist</h3>
    <a href="/">Go Back</a>
</body>
</html>