<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PEXL | Not Found</title>
</head>
<body>
    <h1>The page you're looking for does not exist 👻</h1>
    <button id="btn-go-back" onclick="goBack()">Go back</button>
    <script>
        function goBack() {
            document.location.href = '/'
        }
    </script>
</body>
</html>