:root {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    --midnight-velvet: #2c2631;
    --electric-sapphire: #5863F8;
    --electric-sapphire-hover: #4d57e8;
    --tropical-teal: #16BAC5;
    --maya-blue: #5FBFF9;
    --lavender-mist: #fdfaff;
    --baby-pink: #FF99C8;
}

.ribbon {
    background: linear-gradient(90deg, rgba(88, 99, 248, 1) 0%, rgba(22, 186, 197, 1) 30%, rgba(95, 191, 249, 1) 80%, rgba(239, 233, 244, 1) 100%);
    padding: 0.1rem 0;
    border: none;
}

body {
    background-color: var(--midnight-velvet);
    color: var(--lavender-mist);
    padding: 1rem 2rem;
}

a {
    color: var(--tropical-teal);
    display: inline-block;
    margin-bottom: 0.5rem;
}

h2 {
    margin-top: 2rem;
}

#refresh-movie-list {
    background-color: var(--electric-sapphire);
    color: var(--lavender-mist);
    border-radius: 5px;
    border-style: none;
    padding: 0.5rem 1.5rem;
    margin-top: 1.5rem;
    font-size: 1rem;
    float: right;
}

#refresh-movie-list:hover {
    background-color: var(--electric-sapphire-hover);
}

#main-header {
    font-size: 4.2rem;
    margin: 0.1rem;
}

.pexl-p {
    color: var(--electric-sapphire);
}
.pexl-e {
    color: var(--tropical-teal);
}
.pexl-x {
    color: var(--maya-blue);
}
.pexl-l {
    color: var(--baby-pink);
}